@model ExternalAuth.ViewModels.LoginViewModel

@{ ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_AuthLayout.cshtml"; }

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center"><h3><b>@ViewData["Title"]</b></h3></div>

        <div class="card-body login-card-body">
            @if (Model.EnableLocalLogin)
            {
                <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <partial name="_ValidationSummary" />
                    <div class="input-group mb-3">
                        <input type="text" asp-for="Username" class="form-control" placeholder="Tài khoản" autofocus />
                        <span asp-validation-for="Username" class="text-danger invalid-feedback"></span>
                        <div as class="text-danger"></div>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" asp-for="Password" class="form-control" placeholder="Mật khẩu" autocomplete="off" />
                        <span asp-validation-for="Password" class="text-danger invalid-feedback"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberLogin">
                                    <label class="form-check-label" asp-for="RememberLogin">
                                        Remember My Login
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="col-5">
                            <button name="button" value="login" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </div>
                </form>
                <partial name="_ExternalAuthentication" />
            }


        </div>

    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}