@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-default-warning">
        @*<strong>Error</strong>*@
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}